{% extends 'base.html' %}
{% block content %}
{% include 'table.html' %}
{% include 'paging.html' %}
  
<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="modalFormLabel">Firewall update</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="fw-form" id="fw-form">
                    {{ form.csrf_token }}
                    {% include 'form_errors.html' %}
                    <div class="form-group my-3">
                        <input type="hidden" class="form-control" name="no" id="no" value="{{ '' }}">
                    </div>
                    <div class="form-group my-3">
                        <label for="ip">ip</label>
                        <input type="text" class="form-control" name="ip" id="ip" value="{{ '' }}">
                    </div>
                    <div class="form-group my-3">
                        <label for="ip_class">class ex) {{ firewall_status.ip_class }}</label>
                        <select class="form-select" name="ip_class" id="ip_class" aria-label="Default select">
                            {% for ip_class in firewall_status.ip_class %}
                            <option value="{{ ip_class }}" {% if data.ip_class == ip_class %} selected {% endif %}>{{ ip_class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="protocol">protocol ex) {{ firewall_status.protocol }} </label>
                        <select class="form-select" name="protocol" id="protocol" aria-label="Default select">
                            {% for protocol in firewall_status.protocol %}
                            <option value="{{ protocol }}" {% if data.protocol == protocol %} selected {% endif %}>{{ protocol }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <label for="protocol">port ex) {{ firewall_status.port }} </label>
                        <select class="form-select" name="port" id="port" aria-label="Default select">
                            {% for port in firewall_status.port %}
                            <option value="{{ port }}" {% if data.port == port %} selected {% endif %}>{{ port }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="block">block ex) {{ firewall_status.block }} </label>
                        <select class="form-select" name="block" id="block" aria-label="Default select">
                            {% for block in firewall_status.block %}
                            <option value="{{ block }}" {% if data.protocol == block %} selected {% endif %}>{{ block }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
                <button type="button" class="btn btn-primary" id="btn-delete" style="display:none">Delete</button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
$("#update").click(function(e) {
    e.preventDefault();
    $('#modalForm').modal('show');
    $('#ip').val(''); 
    document.getElementById("btn-save").style.display = "block";
    document.getElementById("btn-delete").style.display = "none";
});
function handleClick(event, data, index){
    $('#modalForm').modal('show'); 
    $('#no').val(index);
    $('#ip').val(data.ip); 
    $('#ip_class').val(data.ip_class);
    $('#block').val(data.block);
    document.getElementById("btn-save").style.display = "none";
    document.getElementById("btn-delete").style.display = "block";
};
$("#btn-save").click(function(e) {
	e.preventDefault();
	if(!confirm('정말로 저장하시겠습니다.?')) return;
	$('#fw-form')[0].submit();
});
$("#btn-delete").click(function(e) {
	e.preventDefault();
	if(!confirm('정말로 삭제하시겠습니다.?')) return;

    let formData = new FormData();
    formData.append('csrf_token', $('#csrf_token').val());
    formData.append('ip', $('#ip').val());
    formData.append('ip_class', $('#ip_class').val());
    formData.append('protocol', $('#protocol').val());
    formData.append('port', $('#port').val());
    formData.append('block', $('#block').val());
    $.ajax({
        url: "/manage/api/delete",
        method: "POST",
        data: formData,
        contentType: false,
        processData: false,
        success: function (result) {
            $('tbody tr').eq($('#no').val()).remove();
        }
    });
    $('#modalForm').modal('hide'); 
});
</script>
{% endblock %}